<h1>{{title}}</h1>

<div class="container">
<form>

 Numero 1: <input type="number" [(ngModel)]="numero1" name="numero1"><br/><br>

 Numero 2: <input type="number" [(ngModel)]="numero2" name="numero2"><br/><br>

 <input type="submit" value="+" (click)="suma()">
 <input type="submit" value="-" (click)="resta()" class="btn btn-primary">
 <input type="submit" value="*" (click)="multiplicacion()">
 <input type="submit" value="/" (click)="divicion()">


</form>
</div>

<p>Resultado: {{resultado}}</p>